@import "../base/variables";
@import "../base/basics";

.home-component {
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 32px;

    p {
        font-family: $main_font;
        // color: $DarkMainText;
    }
}

// --------------- TOP DASHBOARD ---------------

.top-dashboard { // container
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // Count
    .count p:nth-child(1) {
        font-weight: bold;
        font-size: 28px;
    }
    .count p:nth-child(2) {
        font-weight: bold;
        font-size: 14px;
        color: $DarkSecondText;
    }

    // Toggle Mode
    .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        transition: background 0.2s linear;
        p {
            font-weight: bold;
            font-size: 14px;
            color: $DarkSecondText;
        }
    }
}


.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.facebook-card {
    display: flex;
    flex-direction: column;
    .facebook-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .facebook-count {
        display: flex;
        flex-direction: column;
    }
    .facebook-period {
        text-align: center;
    }
}

.twitter-card {
    display: flex;
    flex-direction: column;
    .twitter-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .twitter-count {
        display: flex;
        flex-direction: column;
    }
    .twitter-period {
        text-align: center;
    }
}

.instagram-card {
    display: flex;
    flex-direction: column;
    .instagram-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .instagram-count {
        display: flex;
        flex-direction: column;
    }
    .instagram-period {
        text-align: center;
    }
}

.youtube-card {
    display: flex;
    flex-direction: column;
    .youtube-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .youtube-count {
        display: flex;
        flex-direction: column;
    }
    .youtube-period {
        text-align: center;
    }
}

// --------------- OVERVIEW ---------------

.overview-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overview-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}