@import "../base/variables";
@import "../base/basics";

.home-component {
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 32px;

    p {
        font-family: $main_font;
    }
}

// --------------- TOP DASHBOARD ---------------

.top-dashboard { // container
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // Count
    .count p:nth-child(1) {
        font-weight: bold;
        font-size: 28px;
    }
    .count p:nth-child(2) {
        font-weight: bold;
        font-size: 14px;
        color: $DarkSecondText;
    }

    // Toggle Mode
    .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        transition: background 0.2s linear;
        p {
            font-weight: bold;
            font-size: 14px;
            color: $DarkSecondText;
            padding-right: 10px;
        }
    }
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 216px;
    background-color: $DarkCard;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    i {
        font-size: 20px;
        color: $facebbook_color;
    }
}

.name {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 15px;

    p {
        font-weight: bold;
        margin-left: 10px;
    }
}

.followers {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    p:first-child {
        font-size: 56px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p:nth-child(2) {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
}

.period {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    color: $main_color;

    p {
        font-size: 16px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }

    i {
        color: $main_color;
        margin-right: 5px;
        font-size: 16px;
        align-items: center;
        justify-content: center;
    }
}

// --------------- FACEBOOK ---------------

.facebook-card {
    border-top: 0.25rem solid $facebbook_color;
    text-align: center;
}

.twitter-card {
    border-top: 0.25rem solid $twitter_color;
    text-align: center;
}

.youtube-card {
    border-top: 0.25rem solid $youtube_color;
    text-align: center;
    .reverse {
        i {
            color: $second_color;
        }
        color: $second_color;
    }
}

// --------------- INSTAGRAM ---------------

.instagram-card {
    background-image: linear-gradient(to right,#FDC468, #DF4996);
    position: relative;
    text-align: center;
    .instagram-border {
        position: absolute;
        width: 100%;
        height: 98%;
        top: 2%;
        left: 0%;
        background: $DarkCard;
    }
    .instagram-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        margin-bottom: 15px;
        p {
            font-weight: bold;
            margin-left: 10px;
        }
    }
    .instagram-followers {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
        p:first-child {
            font-size: 56px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p:nth-child(2) {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }
    .instagram-period {
        text-align: center;
        position: relative;

        display: flex;
        flex-direction: row;
        margin: 0 auto;
        color: $main_color;

        p {
            font-size: 16px;
            font-weight: bold;
            align-items: center;
            justify-content: center;
        }

        i {
            color: $main_color;
            margin-right: 5px;
            font-size: 16px;
            align-items: center;
            justify-content: center;
        }
    }
}

// --------------- OVERVIEW ---------------

.overview-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overview-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}