@import "../base/variables";
@import "../base/basics";

.home-component {
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 32px;

    p {
        font-family: $main_font;
    }
}

// --------------- TOP DASHBOARD ---------------

.top-dashboard { // container
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // Count
    .count p:nth-child(1) {
        font-weight: bold;
        font-size: 28px;
    }
    .count p:nth-child(2) {
        font-weight: bold;
        font-size: 14px;
        color: $DarkSecondText;
    }

    // Toggle Mode
    .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        transition: background 0.2s linear;
        p {
            font-weight: bold;
            font-size: 14px;
            color: $DarkSecondText;
        }
    }
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 216px;
    background-color: $DarkCard;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    // position: relative;
}

// --------------- FACEBOOK ---------------

.facebook-card {
    border-top: 0.25rem solid $facebbook_color;
    .facebook-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .facebook-count {
        display: flex;
        flex-direction: column;
    }
    .facebook-period {
        text-align: center;
    }
}

// --------------- TWITTER ---------------

.twitter-card {
    border-top: 0.25rem solid $twitter_color;
    .twitter-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .twitter-count {
        display: flex;
        flex-direction: column;
    }
    .twitter-period {
        text-align: center;
    }
}

// --------------- INSTAGRAM ---------------

.instagram-card {
    background-image: linear-gradient(to right,#FDC468, #DF4996);
    position: relative;
    .test {
        position: absolute;
        width: 100%;
        height: 98%;
        top: 2%;
        left: 0%;
        opacity: 0.7;
        background: $DarkCard;
        border-radius: 5px;
    }
    .instagram-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .instagram-count {
        display: flex;
        flex-direction: column;
    }
    .instagram-period {
        text-align: center;
    }
}

.youtube-card {
    border-top: 0.25rem solid $youtube_color;
    .youtube-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .youtube-count {
        display: flex;
        flex-direction: column;
    }
    .youtube-period {
        text-align: center;
    }
}

// --------------- OVERVIEW ---------------

.overview-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overview-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}